
<section class="galleryLibraries">
    <a  *ngIf="categoryImages.length;else loadingImagePlaceholder">
    <div class="imageLibrarie" *ngFor="let item of categoryImages">
      
    <div class="imageContainer" *ngFor="let items of item">
      
        <img 
        loading="lazy"
        src="{{items.imageSrc}}"
        (click)="openImage(items.imageSrc,$event)"
        alt="Image description">
    </div>
    </div>
</a>
    <ng-template #loadingImagePlaceholder >
        <a class="imageLibrarie">
        <div class="imageContainerr">
        
        </div>
        <div class="imageContainerr" >
        
        </div>
        <div class="imageContainerr" >
        
        </div>
        <div class="imageContainerr" >
        
        </div>
        <div class="imageContainerr">
        
        </div>
        <div class="imageContainerr" >
        
        </div>
        <div class="imageContainerr" >
        
        </div>
        <div class="imageContainerr" >
        
        </div>
        <div class="imageContainerr">
        
        </div>
        <div class="imageContainerr" >
        
        </div>
        <div class="imageContainerr" >
        
        </div>
        <div class="imageContainerr" >
        
        </div>
        </a>
      </ng-template>
      <ng-container *ngIf="this.selectImage" >
        <div [ngClass]="{'imageSelected': this.selectImage}">
          <div class="imageSelectedOptions">
            <img 
            class="exitImage"
            (click)="exitImage()"
            src="../assets/images/next.png"
          >
       
          <img 
          class="exitImage rotate"
          (click)="exitImage()"
          src="../assets/images/minus-sign.png"
        >
        <img 
        class="exitImage rotate"
        (click)="exitImage()"
        src="../assets/images/plus.png"
      >
      <img 
      class="exitImage rotate"
      style="right: 50px;"
      (click)="rotateAndScaleImage(90)"
      src="../assets/images/rotate-right.png"
    >
      <img 
      class="exitImage"
      (click)="exitImage()"
      src="../assets/images/reject.png"
    >
        </div>
          <div class="imageSelectedContaner">
            <img 
            class="previous"
            (click)="exitImage()"
            src="../assets/images/next.png"
          >
                <img 
                id="my-image"
                loading="lazy"
                src="{{this.selectedImage}}"
                alt="Image description">
                <img 
                class="next"
                (click)="exitImage()"
                src="../assets/images/next.png"
              >
            </div>
        </div>
        <div [ngClass]="{'imageSelectedExit': this.selectImage}"  (click)="exitImage()"></div>
      </ng-container>
      
</section>
