<div id="{{'currentLang' | translate}}" class="themeBlack">
  <!-- 
   -->

<!-- <section class="scrollable" [class.scrolled]="scrolled">
  <nav>
    <ul>
      <li><a routerLinkActive="active" class="active" [routerLink]="['/home']">{{ 'Home.Work' | translate }}</a></li>
      <li><a routerLinkActive="active" [routerLink]="['/aboutme']">{{ 'Home.AboutMe' | translate }}</a></li>
      <li><a routerLinkActive="active" [routerLink]="['/contact']">{{ 'Home.Contact' | translate }}</a></li>
    </ul>
    <div class="logo">
      <h2>Abood Albyaari</h2>
    </div>
    <div>
      <select class="language mobile btn-primary btn-merchess" (change)="selectLanguage($event)">
        <option value="en-US" [selected]="language === 'en-US'"> {{ 'Language.English' | translate }} </option>
        <option value="ar-JO" [selected]="language === 'ar-JO'"> {{ 'Language.Arabic' | translate }} </option>
      </select>
    </div>
  </nav>
  <section class="welcomeSection">

  </section>
</section> -->

    <section class="scrollable header" [class.scrolled]="scrolled">
      <ul class="mobile">
        <li><a routerLinkActive="active" class="active " [routerLink]="['/home']">{{ 'Home.Work' | translate }}</a></li>
        <li><a routerLinkActive="active" [routerLink]="['/aboutme']">{{ 'Home.AboutMe' | translate }}</a></li>
        <li><a routerLinkActive="active" [routerLink]="['/contact']">{{ 'Home.Contact' | translate }}</a></li>
      </ul>
      <div class="logo">
      <h2>Abood Albyaari</h2>
    </div>
      <div class="header-icons">
        <div class="language" *ngIf="language === 'ar-JO'" (click)="selectLanguage('en-US')"> {{ 'Language.English' | translate }}</div>
        <div class="language" *ngIf="language === 'en-US'" (click)="selectLanguage('ar-JO')"> {{ 'Language.Arabic' | translate }}</div>
        <!-- <select class="language mobile" (change)="selectLanguage($event)">
          <option value="en-US" [selected]="language === 'en-US'"> {{ 'Language.English' | translate }} </option>
          <option value="ar-JO" [selected]="language === 'ar-JO'"> {{ 'Language.Arabic' | translate }} </option>
        </select> -->
      <div class="menu-icon">
        <svg fill="none" (click)="openMobileMenu()" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" />
        </svg>
        <div id="menuMobile" class="menuMobile ">
          <div class="closeMobileMenu" (click)="openMobileMenu()">
            <i class="fa-solid fa-xmark"></i>
          </div>
          <ul class="middle  text-center">
            <li><a routerLinkActive="active" class="active" [routerLink]="['/home']">{{ 'Home.Work' | translate }}</a></li>
            <li><a routerLinkActive="active" [routerLink]="['/aboutme']">{{ 'Home.AboutMe' | translate }}</a></li>
            <li><a routerLinkActive="active" [routerLink]="['/contact']">{{ 'Home.Contact' | translate }}</a></li>
            <li >
              <div *ngIf="language === 'ar-JO'" (click)="selectLanguage('ar-JO')"> {{ 'Language.English' | translate }}</div>
              <div *ngIf="language === 'en-US'" (click)="selectLanguage('en-US')"> {{ 'Language.Arabic' | translate }}</div>
            </li>

          </ul>
        </div>
      </div>
    </div>
  </section>
  <section class="welcomeSection">

  </section>
<router-outlet></router-outlet>