<div id="{{'currentLang' | translate}}" class="themeBlack">

    <section class="scrollable header" [class.scrolled]="scrolled">
    
      <div class="logo">
      <h2>Abood Albyaari.</h2>
    </div>
    <ul class="mobile">
      <li><a routerLinkActive="active" class="active " [routerLink]="['/home']">{{ 'Home.Work' | translate }}</a></li>
      <li><a routerLinkActive="active" [routerLink]="['/aboutme']">{{ 'Home.AboutMe' | translate }}</a></li>
      <li><a routerLinkActive="active" [routerLink]="['/contact']">{{ 'Home.Contact' | translate }}</a></li>
    </ul>
      <div class="header-icons">
        <ul class="mobile">
          <li><a class="language" *ngIf="language === 'ar-JO'" (click)="selectLanguage('en-US')">{{ 'Language.English' | translate }}</a></li>
          <li><a class="language" *ngIf="language === 'en-US'" (click)="selectLanguage('ar-JO')"> {{ 'Language.Arabic' | translate }}</a></li>
          <li><a class="login"  [routerLink]="['/login']" > {{ 'Home.LogIn' | translate }}</a></li>
        </ul>
      <div class="menu-icon">
        <svg fill="none" (click)="openMobileMenu()" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" />
        </svg>
        <div id="menuMobile" class="menuMobile ">
          <div class="closeMobileMenu" (click)="openMobileMenu()">
            <i class="fa-solid fa-xmark"></i>
          </div>
          <ul class="middle  text-center">
            <li><a routerLinkActive="active" class="active" [routerLink]="['/home']">{{ 'Home.Work' | translate }}</a></li>
            <li><a routerLinkActive="active" [routerLink]="['/aboutme']">{{ 'Home.AboutMe' | translate }}</a></li>
            <li><a routerLinkActive="active" [routerLink]="['/contact']">{{ 'Home.Contact' | translate }}</a></li>
            <li >
              <div *ngIf="language === 'ar-JO'" (click)="selectLanguage('ar-JO')"> {{ 'Language.English' | translate }}</div>
              <div *ngIf="language === 'en-US'" (click)="selectLanguage('en-US')"> {{ 'Language.Arabic' | translate }}</div>
            </li>
            <li><a  [routerLink]="['/login']">{{ 'Home.LogIn' | translate }}</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section class="welcomeSection">
    <section class="o-main-section"  *ngFor="let item of this.categories">
      <h2 class="c-main-heading">Portfolio</h2>
<div  class="c-main-contaner">
      <article class="c-article" *ngFor="let items of item" >
        <a class="c-article__link" href="#">
          <div>
            <header>
              <h3 class="c-article__heading">{{items.title}}</h3>
            </header>
            <div class="c-article__content">
              {{items.description}}
            </div>
          </div>
          <div class="c-article__img-wrapper">
            <img class="c-article__img" src="{{items.previewImage}}" alt="Ink transition with PNG sprite" />
          </div>
        </a>
      </article>
    </div>
      <!-- <article class="c-article">
        <a class="c-article__link" href="#">
          <div>
            <header>
              <h3 class="c-article__heading">Responsive Mondrian art with CSS grid</h3>
            </header>
            <div class="c-article__content">
              Make a responsive Mondrian art with CSS grid layout.
            </div>
          </div>
          <div class="c-article__img-wrapper">
            <img class="c-article__img" src="https://assets.codepen.io/204808/css-grid-mondrian.png" alt="Responsive Mondrian art with CSS grid" />
          </div>
        </a>
      </article>
  
      <article class="c-article">
        <a class="c-article__link" href="#">
          <div>
            <header>
              <h3 class="c-article__heading">Space rocket with request Animation Frame</h3>
            </header>
            <div class="c-article__content">
              Create the space rocket animation with stars in different perspective.
            </div>
          </div>
          <div class="c-article__img-wrapper">
            <img class="c-article__img" src="https://assets.codepen.io/204808/17.Space-Rocket-with-requestAnimationFrame.png" alt="Responsive Mondrian art with CSS grid" />
          </div>
        </a>
      </article> -->
    </section>
  </section>
<!-- <router-outlet></router-outlet> -->