.themeBlack::before{
  content: "";
  position: absolute;
  left: -148%;
  top: 0;
  width: 300%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  transform: rotate(45deg);
  z-index: -1;
}


.active
   {
    font-weight: 600 !important;
    transition: 0.6s;
    font-size: 18px;
  }

a:hover,
a:focus {
  text-decoration: none;
}
.logo{
  text-align: center;
  font-size: 20px;
  @media (max-width: 575px) {
    font-size: 100%;

  }
}
  .scrolled {
    
      box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px;
      background-color: rgb(255, 255, 255);
    .welcomeSection{
height: 50vh;
    }
  }
  .welcomeSection{
    height: 100vh;
    position: relative;top: 100px;
   // background-image: linear-gradient(105.38deg,  #2B5566 1.47%,#803944 37.95%,#225A38 99.08%);
    
  }
  nav {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    background-color: rgb(255, 255, 255);
    height: 90px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 4;
  }
  
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  li {
    list-style: none;
    margin: 0 10px;
  }
  
  a {
    color: #000;
    text-decoration: none;
    font-size: 16px;
  //  font-weight: bold;
    transition: all 0.2s ease-in-out;
  }
  
  a:hover {
    transform: scale(1.1);
  }
  
  /* Add this CSS to animate the scroll */
  html {
    scroll-behavior: smooth;
  }

  //////////////////////
  
//theme
//theme Black
.themeBlack {
 
}
//theme light
.themeLight {
  --italic-font: "EB Garamond", serif;
}
//end theme

.header{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  top: 0px !important;
 // padding: 0 5%;
  width: 100%;
  white-space: nowrap;
  flex-shrink: 0;
  position: fixed;
  left: 0;
  z-index: 6;
  height: 100px;

  @media (max-width: 575px) {
    padding: 0 2%;
    grid-template-columns: 2fr 1fr;
    top: 0 !important;
    height: 70px;

  }


  &-menu {
    display: flex;
    align-items: center;
    margin-left: auto;

    @media screen and (max-width: 740px) {
      display: none;
    }

    a {
      margin-right: 30px;
    }
  }

  .menu-icon {
    position: relative;
    display: flex;
    align-items: center;
    @media (min-width: 700px) {
      display: none;
    }
    svg {
      width: 27px;
      color: var(--body-i-color);

     
    }

    @media (max-width: 600px) {
      margin-right: 7px;
      top: 0px;
    }
  }

  &-icons {
    margin-left: auto;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    img {
      display: block;
      height: 32px;
      width: 34px;
    }

    i {
      color: var(--body-i-color);
    }
  }
}
//---------------------------language
.language {
  
  cursor: pointer;
}

.languageMobileStyle {
  font-size: 15px;
  padding: 0;
  color: var(--body-background);
  max-width: 160px;
  border: 1px solid var(--body-background);
  background-color: #E0D9FF00 !important;
  border-radius: 3px;
  padding: 3px;
  min-height: 34px;
  margin-right: 10px;
  cursor: pointer;
}

.language option {
  color: #000;
}

.languageMobileStyle option {
  color: #000;
}

.language-mobile {
  font-size: 18px;
  padding: 0;
  color: #000;
  max-width: 160px;
  background-color: #E0D9FF !important;
  border: 0;
  cursor: pointer;
  box-shadow: none;
}

.language-mobile:focus {
  box-shadow: none;
  border: 0;
}


//---------------------------end language
//----------------------------------------------------------------menu mobile
.menuMobile {
  position: fixed;
  display: block;
  width: 100%;
  z-index: 1;
  background: var(--body-i-color);
  margin: 0;
  top: 0;
  min-height: 100vh;
  padding: 0;
  opacity: 1;
  left: -100%;
  transition: 1s;
}

hr {
  color: var(--body-background);
}

.openMenuMobile {
  position: fixed;
  display: block;
  width: 100%;
  z-index: 1;
  background:#2b5566;
 // backdrop-filter: blur(17px);
  opacity: 1;
  margin: 0;
  top: 0;
  min-height: 100vh;
  padding: 0;
  left: 0%;
  transition: 1s;
}

.closeMenuMobile {
  position: fixed;
  display: block;
  opacity: 1;
  width: 100%;
  z-index: 1;
  backdrop-filter: blur(17px);
  background: var(--menu-background-color);
  margin: 0;
  top: 0;
  min-height: 100vh;
  padding: 0;
  left: -100%;
  transition: 1s;
}

.middle {
  position: relative;
  display:grid;
  text-align: center;
 // min-height: 40px;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 4vh;
  font-size: 18px;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;

  .languageMobileStyle {
    background: #fff !important;
    border: 1px solid #fff !important;
  }
}

.middle li {
  margin: 0;
  padding: 15px 0;
  outline: 0 none;
  position: relative;
  color: #fff;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: translateZ(1px);
  -moz-transform: translateZ(1px);
  -ms-transform: translateZ(1px);
  -o-transform: translateZ(1px);
  transform: translateZ(1px);
  z-index: 1;
}

.middle li a {
  color: #fff !important;
}

.middle li:hover {
  -webkit-box-shadow: inset 0 0 80px 0 rgba(255, 255, 255, 0.3);
  -moz-box-shadow: inset 0 0 80px 0 rgba(255, 255, 255, 0.3);
  box-shadow: inset 0 0 80px 0 rgba(255, 255, 255, 0.3);
  cursor: pointer;
  border-radius: 8px;
}


.logup {
  width: 100%;
  margin: 1%;
}

.closeMobileMenu {
  color: var(--body-background);
  display: flex;
  align-items: center;
  height: 50px;
  top: 0;
  padding: 0 5%;
  width: 100%;
  white-space: nowrap;
  flex-shrink: 0;
  font-weight: 400;
  font-size: 15px;
  left: 0;
  z-index: 6;

  .logo {
    width: 100px !important;
  }

  i {
    color: #fff;
    font-size: 30px;
    position: absolute;
    right: 18px;
    top: 10px;
  }
}

@media(max-width:440px) {
  .mobile {
    display: none;
  }
}

.menu {
  width: 100%;
  height: 62px;
}
//animation
@keyframes ArrowRotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
///////////////
/// 
///


@function rem($pixel) {
  @return $pixel / 16 + rem;
}

%visually-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

%list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.o-main-section {
  
  --black: #404040;
  --white: #fff;
  --gray: rgba(64, 64, 64, 0.15);

  --font-courgett: "Courgette", cursive;
  --font-open-sans: "Open Sans", sans-serif;

  --font-light: 300;
  margin: 0 auto;
  max-width: rem(1300);
}
.c-main-contaner{
 display: grid;
grid-template-columns: 1fr 1fr;
gap: 20px;

@media(max-width:940px) {
  grid-template-columns: 1fr;
}
}
// Heading
.c-main-heading {
  font-size: calc(rem(40));
  font-weight: var(--font-light);
  letter-spacing: calc(rem(3));
  margin: calc(rem(60)) 0;
  text-align: center;
  text-transform: uppercase;
}
// article{
//   box-shadow: 0px 1px 3px 5px #00000020;
// }
// Articles
.c-article__link {
  align-items: center;
  color: var(--black);
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  gap: 10px;
  justify-content: space-between;
  margin: rem(30) 0;
  padding: rem(20);
  text-decoration: none;
  box-shadow: 2px 4px 2px 0px rgba(0, 0, 0, 0.1254901961);

  @media(max-width:540px) {
    padding: 1.25rem !important;
    grid-template-columns: 1fr;
    .c-article__content , header{
text-align: center;
    }
  }
  @media(max-width:940px) {
    padding: 1.25rem 10%;
  }
  * {
    pointer-events: none;
  }
}

.c-article__heading {
  font-size: rem(20);
  margin: rem(10) 0;
}

.c-article__content {
  line-height: 1.5;
  margin: rem(10) 0;
}

.c-article__img-wrapper {
  // height: rem(100);
  // margin-left: rem(20);
  // min-width: rem(160);
  // width: rem(160);
  min-width: 300px;
}

.c-article__img {
  border-radius: rem(2);
  display: block;
  height: 100%;
  //filter: grayscale(1);
  object-fit: contain;
  transition: filter 0.3s ease-in;
  width: 100%;
  max-height: 220px;    min-height: 220px;

  .c-article__link:hover & {
    filter: grayscale(0);
  
  }
 
}
.c-article__link:hover  {
  background-color: var(--gray);
  border-radius: rem(2);

  &::before {
    background-color: var(--black);
    content: "";
    height: 70%;
    left: rem(-3);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: rem(6);
  }

}
// Magic area
.c-magic-area {
  position: absolute;
  z-index: -1;
}

.c-magic-area--menu {
  background-color: var(--gray);
  border-radius: rem(2);
}

// Author & FE30
.c-author {
  color: #404040;
  margin: 10px 0;
  text-align: center;
}

.c-author__link {
  color: #404040;
  display: inline-block;
  position: relative;
  text-decoration: none;

  &::before,
  &::after {
    bottom: 0;
    content: "";
    height: 8px;
    left: 0;
    position: absolute;
    z-index: -1;
  }

  &::before {
    background-color: rgba(64, 64, 64, 0.15);
    width: 100%;
  }

  &::after {
    background-color: rgba(244, 177, 62, 1);
    transition: width 0.3s ease-in-out;
    width: 0;
    will-change: width;
  }

  &:hover::after {
    width: 100%;
  }
}

.c-fe30 {
  animation: fe30-anime 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 4s forwards;
  bottom: 0;
  display: none;
  opacity: 0;
  position: fixed;
  right: 0;

  .is-desktop & {
    display: block;
  }
}

.c-fe30__inner {
  background-color: #fff;
  border-radius: 7px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.1);
  color: #2d2f31;
  font-size: 14px;
  line-height: 1.45;
  margin: 10px;
  padding: 20px 20px 10px;
  transform: perspective(1000px) rotateX(0) rotateY(0) scale3d(1, 1, 1);
  transform-style: preserve-3d;
  width: 250px;
}

.c-fe30__photo {
  border: 3px solid #fff;
  border-radius: 50%;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.1);
  display: block;
  height: 80px;
  position: absolute;
  top: -50px;
  left: 50%;
  overflow: hidden;
  transform: translateX(-50%) translateZ(26px);
  width: 80px;
}

.c-fe30__img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.c-fe30__link {
  color: #ffbd48;
  display: inline-block;
  transform: translateZ(18px);

  &:hover {
    text-decoration: none;
  }
}

@keyframes fe30-anime {
  0% {
    opacity: 0;
    transform: translate(0, 100%);
  }

  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

/**
 * Utilities
 */

.u-visually-hidden {
  @extend %visually-hidden;
}