<div id="{{'currentLang' | translate}}" class="theme" [ngClass]="{'darkMode': color , 'whiteMode' : !color}">

    <section class="scrollable header" [class.scrolled]="scrolled">
    
    
    <ul class="mobile">
      <li></li>
      <li><a routerLinkActive="active"  class="active" [routerLink]="['/homepage']">{{ 'Home.Portfolio' | translate }}</a></li>
      <li><a routerLinkActive="active" [routerLink]="['/contact']">{{ 'Home.Contact' | translate }}</a></li>
    </ul>
    <div class="logo" [routerLink]="['/']" style="cursor: pointer;">
      <img *ngIf="!color" src="../assets/images/4.png">
      <img *ngIf="color" src="../assets/images/6.png">
    </div>
      <div class="header-icons">
        <ul class="mobile">
          <li *ngIf="language === 'ar-JO'" ><a class="language" (click)="selectLanguage('en-US')">{{ 'Language.English' | translate }}</a></li>
          <li *ngIf="language === 'en-US'"><a class="language"  (click)="selectLanguage('ar-JO')"> {{ 'Language.Arabic' | translate }}</a></li>
          <li><a class="login"  [routerLink]="['/login']" > {{ 'Home.LogIn' | translate }}</a></li>
         <li> <div class="darkmode">
          <i class="fa-regular fa-sun mode" *ngIf="color" style="color: #fff;" (click)="color = !color"></i>
          <i class="fa-regular fa-moon mode" style="color: #000;" *ngIf="!color" (click)="color = !color"></i>
        </div></li>
        </ul>
            <!-- <button class="meta" id="color-toggle" (click)="color = !color"></button></li> -->

           
      <div class="menu-icon">
        <svg fill="none" (click)="openMobileMenu()" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" />
        </svg>
        <div id="menuMobile" class="menuMobile ">
          <div class="closeMobileMenu" (click)="openMobileMenu()">
            <i class="fa-solid fa-xmark"></i>
          </div>
          <ul class="middle  text-center">
            <li><a routerLinkActive="active" class="active" [routerLink]="['/home']">{{ 'Home.Work' | translate }}</a></li>
            <li><a routerLinkActive="active" [routerLink]="['/aboutme']">{{ 'Home.AboutMe' | translate }}</a></li>
            <li><a routerLinkActive="active" [routerLink]="['/contact']">{{ 'Home.Contact' | translate }}</a></li>
            <li >
              <div *ngIf="language === 'ar-JO'" (click)="selectLanguage('ar-JO')"> {{ 'Language.English' | translate }}</div>
              <div *ngIf="language === 'en-US'" (click)="selectLanguage('en-US')"> {{ 'Language.Arabic' | translate }}</div>
            </li>
            <li><a  [routerLink]="['/login']">{{ 'Home.LogIn' | translate }}</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section class="welcomeSection">
<router-outlet></router-outlet>
 
  </section>