<form #libraryfrm="ngForm" class="digitalInput">
    <div class="messInput ">
      <div class="digitalLabel">
        Image :
      </div>
      <!-- <div class="input">
        <input type="file" ngModel #uploadDigitalProductPreviewImage="ngModel" accept=".png, .jpg, .jpeg" class="digitalInputBox" style="display:none"
               (change)="submitDigitalProductsPreviewImage($event)" id="uploadDigitalProductPreviewImage"
               name="uploadDigitalProductPreviewImage" />
        <label for="uploadDigitalProductPreviewImage"
               [ngStyle]="{'height.px': (url) ? '200' : '40'}"
               class="digitalInputuploadBox">
          <img *ngIf="url" [src]="url" height="200" width="300">
          {{'Belbio.UploadPreviewImageDigitalProducts' | translate}}
        </label>
      </div> -->
      <div class="digitalLabel">
        {{'Belbio.Title' | translate}} :
      </div>
      <div class="input">
        <input type="text" class="digitalInputBox" [(ngModel)]="iCategory.title" title="{{'Belbio.Title' | translate}}"
               pattern="[A-Za-z0-9_\-\+\ ]{1,50}"
               id="iCategoryTitle" ngModel #iCategoryTitle="ngModel" required name="iCategoryTitle" minlength="1" maxlength="50"
               [ngStyle]="{'border-color': (iCategoryTitle?.touched && iCategoryTitle?.invalid) ? 'var(--color)' : '' }"
               placeholder="{{'Belbio.Title' | translate}}" />
        <span *ngIf="iCategoryTitle?.touched && iCategoryTitle?.invalid" class="row" style="padding: 2px 10px 10px 10px;">
          <span class="text-danger" *ngIf="iCategoryTitle?.touched && iCategoryTitle?.invalid">
            Please Insert a valid  {{'Belbio.Title' | translate}}
          </span>
          <span class="text-danger" *ngIf="iCategory.title.length <= 1 || iCategory.title.length >= 50">
            {{'General.Titleisrequired' | translate}}
          </span>
        </span>
      </div>
      <div class="digitalLabel">
        {{'Belbio.Description' | translate}} :
      </div>
      <div class="input">
        <textarea type="text" class="digitalInputBox" [(ngModel)]="iCategory.description" title="{{'Belbio.Description' | translate}}"
                  pattern="[A-Za-z0-9_\-\+\ ]{1,}"
                  rows="7"
                  id="iCategoryDescription" ngModel #iCategoryDescription="ngModel" required name="iCategoryDescription" minlength="1"
                  [ngStyle]="{'border-color': (iCategoryDescription?.touched && iCategoryDescription?.invalid) ? 'var(--color)' : '' }"
                  placeholder="{{'Belbio.Description' | translate}}"></textarea>
        <span *ngIf="iCategoryDescription?.touched && iCategoryDescription?.invalid" class="row" style="padding: 2px 10px 10px 10px;">
          <span class="text-danger" *ngIf="iCategoryDescription?.touched && iCategoryDescription?.invalid">
            Please Insert a valid  {{'Belbio.Description' | translate}}
          </span>
          <span class="text-danger" *ngIf="iCategory.description.length <= 1">
            {{'General.Descriptionisrequired' | translate}}
          </span>
        </span>
      </div>
      <div></div>
      <div class="digitalbutton">
        <button type="button" class="digitalbuttonadd" (click)="submitLibrary(libraryfrm)">
          <i class="fa-solid fa-check"></i>
        </button>
      </div>
    </div>
</form>