
<section class="o-main-section" *ngIf="categories.length;else loadingImagePlaceholder">
    <h2 class="c-main-heading">Portfolio</h2>
<div  class="c-main-contaner"  *ngFor="let item of this.categories">
    <article class="c-article" *ngFor="let items of item"   (click)="opengalleryType(items.id)">
      <a class="c-article__link">
        <div>
          <header>
            <h3 class="c-article__heading">{{items.title}}</h3>
          </header>
          <div class="c-article__content">
            {{items.description}}
          </div>
        </div>
        <div class="c-article__img-wrapper">
          <img class="c-article__img" src="{{items.previewImage}}" alt="Ink transition with PNG sprite" />
        </div>
      </a>
    </article>
  </div>
 
  </section>
  <ng-template #loadingImagePlaceholder >
    <div class="o-main-section">
        <h2 class="c-main-heading">Portfolio</h2>
    <div  class="c-main-contaner" >
        <article class="c-article">
          <a class="c-article__link loadingTemplate">
          
          </a>
        </article>
        <article class="c-article">
          <a class="c-article__link loadingTemplate " >
          
          </a>
        </article>
        <article class="c-article">
          <a class="c-article__link loadingTemplate" >
          
          </a>
        </article>
        <article class="c-article">
          <a class="c-article__link loadingTemplate" >
          
          </a>
        </article>
        <article class="c-article">
          <a class="c-article__link loadingTemplate" >
          
          </a>
        </article>
        <article class="c-article">
          <a class="c-article__link loadingTemplate" >
          
          </a>
        </article>
        <article class="c-article">
          <a class="c-article__link loadingTemplate" >
          
          </a>
        </article>
      </div>
    </div>
  </ng-template>