
.galleryLibraries{
min-height: 100vh;
.imageLibrarie{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    gap: 5px;
    @media (max-width:1600px){
      grid-template-columns: 1fr 1fr;
      gap: 6px;  transition: 0.6s;
  }
    @media (max-width:900px){
        grid-template-columns: 1fr;
        gap: 6px;  transition: 0.6s;
    }
 
}
@media (min-width:600px){
   max-width: 90%;
   margin: auto;   transition: 0.6s;
}
}

  img{
    width: 100%;
    margin: auto;
    display: flex;
    height: 100%;
    cursor: pointer;
    transition: 0.6s;
    object-fit: cover;
    @media (max-width:600px){
      width: 90%;
  }
  }
.imageContainer{
  width: 100%;
    height: 450px;
    overflow: hidden;
    position: relative;
    @media (max-width:600px){
      height: 300px;
   }
   .type{
    display: none;
   }
}
.imageContainer:hover{
 
    img{
      transform: scale(1.1);
    }
    .type{
      display: flex;
      position: absolute;
      align-items: center;
      width: 60%;
      color: #fff;
      padding-left: 10%;
      padding-bottom: 2px;
    height: 30px;
    background: #2b5566;
    top: 10%;
    z-index: 5;
    left: 0px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    animation:typehover 0.6s ;
    }
}

@keyframes typehover {
  from {opacity: 0; width: 20px;}
  to {   opacity: 1; width: 60%;
     }
}





/////////////
/// 
